@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray100: #F3F6FF;
    --clr-gray200: #EFF2FC;
    --clr-gray300: #E2E5F1;
    --clr-gray400: #D4D7E5;
    --clr-gray500: #B4B7C9;
    --clr-gray600: #9397AD;
    --clr-gray700: #565973;
    --clr-gray800: #33354D;
    --clr-gray900: #0B0F19;

    --clr-primary: hsl(239, 84%, 67%);

    --clr-bg: #fff;
    --clr-bg-100: var(--clr-gray100);
    --clr-text-body: var(--clr-gray700);
    --clr-text-heading: var(--clr-gray900);
    --clr-text-nav: var(--clr-gray800);

    --clr-logo-bg: var(--clr-gray100); 

    --br-m: 0.375em;
    --br-l: 0.5em;

    --white-to-gray: #fff;

    --section-spacing: 3rem;

    --clr-market-btn: var(--clr-gray900);

}
.dark {
    --clr-bg: var(--clr-gray900);
    --clr-bg-100: rgba(255, 255, 255, 0.04);
    --clr-text-body: rgba(255, 255, 255, 0.7);
    --clr-text-heading: #fff;
    --clr-text-nav: #fff;
    --clr-logo-bg: rgba(99, 101, 241, 0.08);
    --white-to-gray: rgba(255, 255, 255, 0.05);
    --clr-market-btn: var(--clr-gray100);

    color-scheme: dark;

    .show-light { display: none; }
    .show-dark { display: block; }

}

.show-light { display: block; }
.show-dark { display: none; }

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    text-align: center;
    color: var(--clr-text-heading);
    font-weight: 800;
    line-height: 1.3;
}
.h1 {
    font-size: 2.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h4 {
    font-size: 1.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h5 {
    font-size: 1.25rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}
.d4 {
    font-size: 3.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.text-lg {
    font-size: 1.125rem;
}

ol,
ul {
    list-style: none;
}

.space-y-1>*+* {
    margin-top: 1rem;
}
.space-y-2>*+* {
    margin-top: 2rem;
}

.space-y-3>*+* {
    margin-top: 3rem;
}

.space-y-4>*+* {
    margin-top: 4rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.p-text {
    color: var(--clr-gray600);
    text-align: center;
    font-size: 18px;
    padding: 2rem;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: "Manrope", system-ui;
    background-color: var(--clr-bg);
    color: var(--clr-text-body);
    line-height: 1.8;
}

.container {
    width: 100%;
    margin-inline: auto;

    @media (width > 768px) {
        max-width: 720px;
    }

    @media (width > 992px) {
        max-width: 960px;
    }

    @media (width > 1200px) {
        max-width: 1140px;
    }

    @media (width > 1400px) {
        max-width: 1320px;
    }

}

.main-nav .container {
    padding-inline: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.btn {
    font-size: .875rem;
    padding: .6em 1.8em;
    display: flex;
    gap: .5rem;
    text-wrap: nowrap;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: var(--br-m);

    &>*+* {
        margin-left: .5rem;
    }

}

.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;

    transition: background-color 150ms;

    &:hover,
    &:focus-visible {
        background-color: hsl(239, 84%, calc(67% + 10%));
    }
}

.btn-round {
    display: flex;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn-white {
    background-color: var(--white-to-gray);
    color: var(--clr-text-nav);

    box-shadow: 0 0 10px #00000022, 3px 5px 4px #0000001f;

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--white-to-gray) h s calc(1-10));
    }
}

/* NAVBAR */
.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
}

.main-nav .container {
    justify-content: space-between;
}

.left {
    gap: 2rem;
}

.nav-link {
    color: var(--clr-gray800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus-visible {
    color: var(--clr-primary);
}

.darkmode-switch .text-label {
    color: var(--clr-gray700);
    font-weight: 600;
}

.nav-link,
.darkmode-switch .text-label,
.main-nav .btn-primary {
    display: none;
}

.darkmode-switch {
    gap: 1rem;
}

/* Taget från W3Schools */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray600);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--clr-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--clr-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.menu-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.main-nav .right {
    gap: 2rem;
}


.showcase {
    padding-top: 6rem;
    text-align: center;
    background-color: var(--clr-bg);
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.10), rgba(219, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    width: 100%;
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;

    
    @media (width >= 768px) {
        h1 {
            width: 100%;
            text-align: center;
        }
        
        .container {
            position: relative;
        }
    
        .content {
            margin-top: 6rem;
            width: 45%;
            text-align: start;
            h1 {
                order: -1;
                width: 100%;
                align-items: center;
            }
        }
    
        .store-buttons {
            flex-direction: row;
        }
    
        .store-btn {
            padding: 0 1em;
        }
    
        .more {
            justify-content: flex-start;
        }
    
        .phones-img {
            display: block;
            width: 60%;
    
            position: absolute;
            bottom: 0;
            right: 0;
        }
    
    }
    
    @media (width >= 992px) {
        /* h1 {
            width: 80%;
            text-align: center;
        } */
        .store-btn {
            padding: .5em 2em;
        }
    
        .more {
            margin-top: 11rem;
        }
    }
    
    @media (width > 1200px) {
        padding-top: 10rem;
        text-align: start;
    
        h1 {
            width: 50%;
            text-align: left;
        }

        .more {
            margin-top: 13rem;
        }
    
        .content {
            width: 40%;
            margin-top: 2rem;
        }
    }
    @media (width > 1400px) {
        padding-top: 15rem;
        .more {
            margin-top: 15rem;
        }

    }
    

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-bottom: var(--section-spacing);
}

.store-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    cursor: pointer;

    img {
        height: 3em;
    }

}

.store-btn {
    background-color: var(--clr-market-btn);
    width: 100%;
    padding: .5em 1em;
    border-radius: var(--br-l);


}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.phones-img {
    display: none;
}

.logos {
    display: none;
    padding-block: var(--section-spacing);

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .logo-card {
        width: 100%;
        border: 1px solid var(--clr-gray300);
        padding: 2rem;
        border-radius: var(--br-l);
        display: grid;
        place-items: center;
    }

    @media (width > 768px) {
        display: block;

        .logo-card:nth-last-of-type(-n+2) {
            display: none;
        }

    }
    @media (width > 1200px) {
        .container {
            grid-template-columns: repeat(6, 1fr);
        }

        .logo-card:nth-last-of-type(-n+2) {
            display: block;
        }

    }
}

.features {
    text-align: center;
    padding-block: var(--section-spacing);

    .iphone {
        display: none;
    }
    .features-grid {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
    }
    .feature-card {
    display: flex;
    text-align: start;
    gap: 1rem;
    align-items: flex-start;

    h2 {
        text-align: left;
    }
    }

    .icon-container {
        background-color: var(--clr-logo-bg);
        padding: 1rem;
        border-radius: var(--br-l);
        flex-shrink: 0;
    }

    @media (width >= 768px) {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 3rem;
        }
    }
    @media (width >= 1200px) {
        text-align: start;
        .container {
            display: flex;
            gap: 4rem;
        }

        .iphone {
            display: block;
        }
        .text {
            flex: 1;
        }
        .text h2 {
            text-align: left;
        }
    }
    @media (width >= 1400px) {
        .container {
            gap: 10rem;
        }
    }
}

.carousel-section {
    padding-block: var(--section-spacing);
    background-color: var(--clr-bg-100);
    text-align: center;

    .carousel {
        display: flex;
        justify-content: space-evenly;
    }

    .text {
        max-width: 70ch;
        margin-inline: auto;
    }

    .carousel-item:first-of-type,
    .carousel-item:nth-of-type(2),
    .carousel-item:nth-of-type(3) {
        display: none;
    }

    @media (width >= 768px) {
        .carousel-item:first-of-type,
        .carousel-item:nth-last-of-type(2),
        .carousel-item:nth-last-of-type(3) {
        display: block;
    }
    .carousel-item:last-of-type {
        display: none;
    }
}




@media (width > 768px) {
    .darkmode-switch .text-label {
        display: block;
    }

    .main-nav .right {
        gap: 4rem;
    }
}

@media (width > 1400px) {
    .menu-btn {
        display: none;
    }

    .nav-link,
    .main-nav .btn-primary {
        display: block;
    }

    .main-nav .right {
        gap: 2rem;
    }


}