@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray100: #F3F6FF;
    --clr-gray200: #EFF2FC;
    --clr-gray300: #E2E5F1;
    --clr-gray400: #D4D7E5;
    --clr-gray500: #B4B7C9;
    --clr-gray600: #9397AD;
    --clr-gray700: #565973;
    --clr-gray800: #33354D;
    --clr-gray900: #0B0F19;

    --clr-primary: #6366F1; 
}

*, *::before, *::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

h1 {
    color: var(--clr-gray900);
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

.p-text {
    color: var(--clr-gray600);
    text-align: center;
    font-size: 18px;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: "Manrope", system-ui;
}

.container {
    width: 100%;
    margin: 0 auto;

    @media (width > 768px) {
        max-width: 720px;
    }
    @media (width > 1400px) {
        max-width: 1320px;
    }

}

.main-nav .container {
    padding-inline: 1rem;
}

.flex {
    display: flex;
}
.align-center {
    align-items: center;
}

.bg-image {
    background-image: url("/images/a-bg.png");
    background-color: #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.btn {
    font-size: .875rem;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: .6em 1.5em;
    border-radius: .3em;

    & > * + * {
        margin-left: .5rem;
    }

}
.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;

}

/* NAVBAR */
.main-nav {
    padding-block: .7rem;
}
.main-nav .container {
    justify-content: space-between;
}

.left {
    gap: 2rem;
}

.nav-link {
    color: var(--clr-gray800)
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus-visible {
    color: var(--clr-primary);
}

.darkmode-switch .text-label {
    color: var(--clr-gray700)
    font-weight: 600;
}

.nav-link,
.darkmode-switch .text-label,
.main-nav .btn-primary {
    display: none;
}
.darkmode-switch {
    gap: 1rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray600);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--clr-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.menu-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.main-nav .right {
    gap: 2rem;
}

.a-section {
    width: 100%;
    padding: 3rem;
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
}

.expand {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #fff;
}

.store-button {
    background-color: var(--clr-gray900);
    width: 366.4px;
    height: 50.41px;
    border-radius: .8rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    
    img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}



@media (width > 768px) {
.darkmode-switch .text-label {
    display: block;
    }
.main-nav .right {
    gap: 4rem;
}
}

@media (width > 1400px) {
    .menu-btn {
        display: none;
    }
    .nav-link,
    .main-nav .btn-primary  {
        display: block;
    }
    .main-nav .right {
        gap: 2rem;
    }
   

}